# Python cache
**/__pycache__/
*.pyc

# Environment & IDE
.env*
.venv/
.idea/

# Output/media files
*.png
*.avi
*.zip
*.tar

# Shared image data (but keep folder)
shared-images/*
!shared-images/.gitkeep

# Assets
assets/data.csv
!assets/

yacctab.py
lextab.py
